<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>

<form action="#" th:action="@{admin/saveUser}" th:object="${user}" method="post">

    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username" placeholder="username"/>
    <br>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surName}" id="surname" placeholder="surname"/>
    <br>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password" placeholder="password"/>
    <br>
    <input type="submit" value="Create!">
</form>
</body>
</html>